<section>
    <div class="container" style="width: 60%; padding-botton: 30px;">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
              <li class="breadcrumb-item active" aria-current="page">Posts</li>
            </ol>
        </nav>

        <div class="card shadow-sm bg-white rounded" style="marging-top: 20px;">
            <div class="card-body">
                Teste
            </div>
        </div>
        
    </div>
</section>