<div class="btn-add-car">
    <button type="button" class="btn btn-primary" routerLink="post/addPost">Add post</button>
    <input type="text" #box class="btn btn-primary" (keyup.enter)="buscarPorId(box.value)" (blur)="buscarPorId(box.value)" placeholder="Buscar por id"/>
    <p>{{value}}</p>
</div>
<div class="card-body">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Autor</th>
            <th scope="col">Titulo</th>
            <th scope="col">Texto</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.autor}}</td>
            <td>{{post.titulo}}</td>
            <td>{{post.texto}}</td>
            <td>{{post.data}}</td>
            <td><button type="button" (click)="editPost(post)" class="btn btn-warning">EDITAR</button></td>
            <td><button type="button" (click)="deletarPost(post)" class="btn btn-danger">DELETAR</button></td>
          </tr>
        </tbody>
    </table>
</div>