.container {
    margin-top: 30px;
}

.add-car {
    margin-bottom: 30px;
}

.list-car {
    margin-bottom: 50px;
}

.btn-add-car button {
    margin-right: 2%;
    border: none;
    float: right;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.btn-add-car input {
    margin: 2%;
    color: #ffffff;
}